@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.productpic{
    padding-left: 100px;
    margin-top: 20%;
    height: 700px;
}


body{
    background-color: white;
    height: 100vh;
    margin: auto;
    display: flex;
    color: black;
}

.datos{
    transform: translate(70% , -130%);
}
.container{
    margin:30px;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: block ;
}

.stars-container{
    display: flex;
    color: #12AAB3;
    padding-bottom: 2%;
    
}
i{
    font-size: 25px;
}

h2{
    font-size: 35px;
    margin-bottom: 5%;
}

p{
    font-size: 17px;
    margin-bottom: 3%;
}

.dots{
    color: #12AAB3;
    font-size: 23px;
    padding-bottom: 3%;
}

.checks{
    margin-top: 2%;
}

.qtn{
    background: transparent;
    color: black;
    border-radius: 9%;
    outline: none;
    border-color: #12AAB3;
    font-size: 24px;
    width: 5%;
}


h1{
    text-transform: uppercase;
    font-size: 45px;
}

hr{
    height: 4px;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #12AAB3;
    
}

h5{
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Add{
    margin-left: 2%;
    text-decoration: none;
    color:#12AAB3 ;
    font-size: 24px;
    
}


